directives:
  child-src:
    - '''self'''

  connect-src:
    - '''self'''
    - 'blob:'
    - 'https://{{ .Values.global.domain.companion }}/'
    - 'wss://{{ .Values.global.domain.companion }}/'
    - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
    - 'https://update.opencloud.eu/'
    # Required when using an external OIDC provider
    - 'https://{{ .Values.global.domain.oidc }}/'

  default-src:
    - '''none'''

  font-src:
    - '''self'''

  frame-ancestors:
    - '''self'''

  frame-src:
    - '''self'''
    - 'blob:'
    - 'https://embed.diagrams.net/'
    # Collabora Online
    - 'https://{{ .Values.global.domain.collabora }}/'
    # Required for the external-sites web extension
    - 'https://docs.opencloud.eu'
    # Required for OIDC silent token renewal (hidden iframe).
    # Without this entry browsers block the silent renew flow when an
    # external Identity Provider is used.
    - 'https://{{ .Values.global.domain.oidc }}/'

  img-src:
    - '''self'''
    - 'data:'
    - 'blob:'
    - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
    # Collabora Online
    - 'https://{{ .Values.global.domain.collabora }}/'

  manifest-src:
    - '''self'''

  media-src:
    - '''self'''

  object-src:
    - '''self'''
    - 'blob:'

  script-src:
    - '''self'''
    - '''unsafe-inline'''
    # Required when using an external OIDC provider
    - 'https://{{ .Values.global.domain.oidc }}/'

  style-src:
    - '''self'''
    - '''unsafe-inline'''
    - 'blob:'

  worker-src:
    - '''self'''
    - 'blob:'
